.container{
    background-color: var(--main-color);
    width: clamp(100px , 100%, 600px);
    min-height: 100dvh;
    margin: 0 auto;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 2.5em;
        }
        button {
            padding: .3em 1em;
        }
    }
}

main {
    padding: 1em;
}

.is-login-box{
    background-color: var(--sub-color);
    padding: .5em 1em;
    text-align: center;
    background-color: #5cb85c;
    font-weight: bold;
}

.todo-form{
    margin: 1.5em 0;
    display: flex;
    gap: 1em;
    input{

        flex-grow: 1;
        &:focus {
            border: 1px solid var(--gray-color);
        }
    }
    button {
        background-color: var(--sub-color);
        padding: .4em 1.5em;
        font-weight: bold;
        &:hover {
            color: var(--white-color);
        }
    }
}

.todo-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    li {
        background-color: var(--sub-color);
        border-radius: 5px;
        display: flex;
        height: 70px;
        animation: growup .3s ;
        .todo-item-iconbox{
            aspect-ratio: 1/1;
            height: 100%;
            font-size: 1.5em;
        }
        .todo-item-content{
            flex-grow: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            overflow: hidden;
            p {
                text-overflow: ellipsis;
                white-space:nowrap;
            }
            span {
                color: var(--gray-color);
                font-size: .8em;
            }
        }
    }
    button {
        aspect-ratio: 1/1;
        height: 100%;
    }
    .complete {
        background-color:transparent;
        border: 1px solid var(--sub-color);
        color: var(--gray-color);
    }
}

.w-full {
    width: 100%;
}

.center {
    display: grid;
    place-content: center;
}

.todo-content-fallback{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    color: var(--white-color);
    padding: .5em 3em;
    &:hover {
        border: 1px solid var(--white-color);
        background-color: var(--sub-color);;
    }
}

.err-box{
    color: rgb(165, 1, 1);
}

.primary-form {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    label {
        margin: 15px 0;
    }
    .btn {
        margin-top: 20px;
    }
}

@keyframes growup {
    from {
        scale: .9;
    }
    to {
        scale: 1;
    }
}
